{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<!-- <h1 align="center">Notes</h1> -->

<form action="#" enctype="multipart/form-data" method="POST">
   <!-- <h3>Hello {{ user.first_name }}</h3> -->
   <label for="aud-in">Upload audio file </label>
   <input class="form-control" type="file" name="aud-in" id="aud-in" accept=".wav, .mp3" />
   <br />
   <div align="center">
      <input class="btn btn-primary" type="submit" id="script" name="play" value=" Add to convert " onclick="runvis()" />
   </div>
</form>

<ul class="list-group list-group-flush" id="notes">
   {% for audio in user.audios %}
   <li class="list-group-item">
      <span class="audio-title"> {{ audio.id }} - {{ audio.name }}</span>
      <button type="button" class="trash" onClick="deleteAudio({{ audio.id }})">
         <i class="fas fa-trash"></i>
      </button>
      <button type="button" class="play" onClick="runvis({{ audio.id }})">
         <i class="fas fa-play"></i>
      </button>
   </li>
   {% endfor %}
</ul>

{% endblock %}
