{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<!-- <h1 align="center">Notes</h1> -->

<form action="#">
   <label for="aud-in">Upload audio file</label>
   <input class="form-control" type="file" name="audio" id="aud-in" accept=".wav" />
   <br />
   <div align="center">
      <input class="btn btn-primary" type="button" id="script" name="scriptbutton" value=" Play " onclick="vis()" />
   </div>
</form>

<!-- <form method="POST" class="home-form">
   <textarea name="note" id="note" class="form-control"></textarea>

   <br />
   <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
   </div>
</form>

<ul class="list-group list-group-flush" id="notes">
   {% for note in user.notes %}
   <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
         <span aria-hidden="true">&times;</span>
      </button>
   </li>
   {% endfor %}
</ul> -->

{% endblock %}
