html {
   min-height: 100vh;
}

body {
   background: linear-gradient(45deg, #493dd3, #2077ad);
   color: #bbf;
}

nav.bg-dark {
   background: #0b1d31 !important;
}

ul.list-group {
   max-width: 640px;
   margin: 0 auto;
   border-radius: 15px;
   overflow: hidden;
   box-shadow: 0 0 11px 6px #00000033;
}

.list-group-item {
   background-color: #000000ba;
   margin-bottom: 1px;
   border: none;
}

h1 {
   color: #0b1c32;
   font-weight: bold;
}

form {
   background: #000000ba;
   max-width: 640px;
   box-shadow: 0 0 11px 6px #00000033;
   margin: 50px auto;
   padding: 50px;
   border-radius: 20px;
   /* transition: all 0.2s ease-out; */
}

.form-control {
   background-color: #ffffff12;
   border: none;
   border-radius: 2px;
   color: #ddd;
   border-radius: 30px;
   transition: all 0.2s ease-out;
}

.form-control:focus {
   background-color: #ffffff12;
   outline: none;
   box-shadow: none;
   border-bottom: 2px solid #3282b8;
   color: #ddd;
   transform: scale(1.01);
}

textarea.form-control {
   border-radius: 15px;
   min-height: 100px;
}

textarea.form-control:focus {
   border-radius: 15px;
   border: none;
}

.btn {
   border-radius: 25px;
   outline: none;
   background: linear-gradient(to right, #3743b3, #2465a8);
   border: none;
   width: 100%;
   transition: all 0.2s ease-out;
}

.btn:hover {
   background: linear-gradient(to right, #2a348a, #1e558d);
}

.play {
   color: #fff;
}

/* .btn:active {
   transform: scale(0.99);
   box-shadow: none;
}

.btn:focus {
   box-shadow: none;
} */

.alert {
   border: none !important;
   color: #eee !important;
   background-color: #0000005e;
   margin: 25px auto 0;
   max-width: 640px;
   border-radius: 15px;
}

.close {
   color: #fff;
}

.close:hover {
   color: white;
}

.close:active {
   outline: none;
}
